version: 2
updates:
  # Enable version updates for pnpm dependencies
  # Note: we can't create an entry per project as Dependabot doesn't support it
  #       and would raise PRs updating `package.json` without `pnpm-lock.yaml` updates.
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "weekly"
    versioning-strategy: increase
    commit-message:
      prefix: "deps"
      prefix-development: "deps-dev"
      include: "scope"
    groups:
      minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"
    allow:
      - dependency-type: "direct"
      - dependency-type: "indirect"

  # Update package managers (including pnpm)
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    groups:
      github-actions-minor-and-patch:
        patterns:
          - "*"
        update-types:
          - "minor"
          - "patch"

