:host {
  display: block;
  background-color: green;
  color: white;
  font-weight: bold;
  border-radius: 5px;
  cursor: pointer;
  max-width: max-content;
}

:host button {
  background-color: green;
}
