name: CI

on:
  pull_request:
  push:

jobs:
  build-output-targets:
    name: Build output-targets
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install
        run: pnpm i --frozen-lockfile
      - name: Build packages
        run: pnpm build.angular && pnpm build.react && pnpm build.vue

  test-angular-example:
    name: Angular example tests (Jest)
    runs-on: ubuntu-latest
    needs: build-output-targets
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup PNPM
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'pnpm'
      - name: Install
        run: pnpm i --frozen-lockfile
      - name: Build component-library
        run: pnpm build.example.core
      - name: Run Angular example tests
        run: pnpm --filter component-library-angular test
